.background path {
  fill: none;
  stroke: #ddd;
  shape-rendering: crispEdges;
}

.foreground path {
  fill: none;
  stroke: steelblue;
}

.brush .extent {
  fill-opacity: .3;
  stroke: #fff;
  shape-rendering: crispEdges;
}

.time-selector {
  cursor: all-scroll;
  text-align: center;
}

.time-selector circle:hover {
  stroke: steelblue;
  stroke-width: 2px;
}

.time-selector text {
  font-size: small;
}

.axis line,
.axis path {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis line {
  stroke: #ddd;
}

.axis path {
  display: none;
}

.cell text {
  font-weight: bold;
  text-transform: capitalize;
  fill: black;
}

.frame {
  fill: none;
  stroke: #aaa;
}

circle {
  stroke: #482475;
  stroke-width: 0.1px;
}

circle.hidden {
  fill: #ccc !important;
}

.brush-circle {
  stroke: black;
  stroke-opacity: .5;
}

.extent {
  fill: #000;
  fill-opacity: .125;
  stroke: #fff;
}

.axis text {
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
}

.line {
  fill: none;
  stroke: #482475;
  stroke-width: 1.5px;
  shape-rendering: auto;
}

.line_parallel {
  cursor: pointer;
  fill: none;
  stroke: #482475;
  stroke-width: 1.5px;
  shape-rendering: auto;
}

.line_parallel.selected {
  cursor: pointer;
  fill: none;
  stroke: #482475;
  stroke-width: 3px;
  shape-rendering: auto;
}

.line_parallel:hover {
  stroke-width: 4px;
}

.line_parallel.background:hover {
  stroke-width: 4px;
  opacity: 0.75;
}

.line_parallel.background {
  cursor: pointer;
  fill: none;
  opacity: 0.1;
  stroke-width: 1.5px;
  shape-rendering: auto;
}

.focusline {
  fill: none;
  stroke: black;
  stroke-width: 1px;
  shape-rendering: auto;
}

.focus_element {
  fill: steelblue;
  opacity: 0.1;
}

rect.bar {
  fill: #482475;
}

rect.bar-parallel {
  fill: #482475;
}
